{
    "branches": ["main"],
    "repositoryUrl": "https://github.com/stphn/reveal-vite-protected",
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator"
    ]
}
